#login_box_form {
    display: none;
}

#menu_box {
    display: none;
}

#battleship_game_box {
    display: none;
}

#chat_box {
    overflow: auto;
    height: 200px;
}

#chat_box p {
    line-height: 1;
}

#left_side {
    border-color: blue;
}

#right_side {
    border-color: red;
}

td,
th {
    padding: 0!important;
    width: 48px;
    height: 48px;
    text-align: center;
    vertical-align: middle!important;
}

.table {
    width: unset!important;
    margin-bottom: 0;
}

.table td,
.table th {
    border: 1px solid black;
}

.table thead th {
    border-bottom: 0;
}

#field_right .table td:hover {
    background-color: #ff000082;
    border: 1px solid;
    border-radius: 25px;
}


/* SHIPS */

.ship {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    z-index: 1000;
    height: 96px;
    width: 44px;
    margin: 5px;
    background-color: red;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0;
    /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
}